# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
debug/autopoint
debug/croco-0.6-config
debug/Dump/OpenSoundRefenation_Athlon_.mdmp
debug/Dump/OpenSoundRefenation_Athlon_201810311253.mdmp
debug/Dump/OpenSoundRefenation_Athlon_20181031137.mdmp
debug/freetype-config
debug/gdbus-codegen
debug/libsoxr-1.exp
debug/libsoxr-1.ilk
debug/libsoxr-1.pdb
debug/libsoxr.pdb
debug/moc_predefs.h.cbt
debug/osrUI.exp
debug/osrUI.ilk
debug/osrUI.pdb
debug/xml2-config
*.mdmp
lib/avcodec-58.def
lib/avdevice-58.def
lib/avfilter-7.def
lib/avformat-58.def
lib/avutil-56.def
lib/libsndfile-1.def
lib/libsoxr.pdb
lib/postproc-55.def
lib/swresample-3.def
lib/swscale-5.def
OpenSoundRefenation — ярлык.lnk
*.log
osrDownloader/.vs/osrDownloader/v15/Browse.VC.db
osrDownloader/.vs/osrDownloader/v15/.suo
release/autopoint
release/croco-0.6-config
release/freetype-config
release/gdbus-codegen
release/gettext.sh
release/gettextize
release/glib-gettextize
release/glib-mkenums
release/gtk-update-icon-cache.exe.manifest
release/libpng-config
release/libpng15-config
release/moc_predefs.h.cbt
release/osrUI.exp
release/osrUI.iobj
release/osrUI.ipdb
release/osrUI.pdb
release/release.rar
release/xml2-config
Temp/expdata_num201811241454
Temp/expdata_num201811241510
Temp/expdata_num201811241520
Temp/expdata_num20181151630
.vs/OpenSoundRefenation/v15/.suo
.vs/OpenSoundRefenation/v15/Browse.VC.db
.vs/OpenSoundRefenation/v15/Browse.VC.opendb
.vs/OpenSoundRefenation/v15/ipch/AutoPCH/ffb648cacd9cb88/MAIN.ipch
.vs/OpenSoundRefenation/v15/Solution.VC.db
.vs/OpenSoundRefenation/v15/Solution.VC.db-shm
.vs/OpenSoundRefenation/v15/Solution.VC.db-wal
debug/OpenSoundRefenation.exp
debug/OpenSoundRefenation.ilk
debug/OpenSoundRefenation.pdb
debug/osrDecoder.exp
debug/osrDecoder.ilk
debug/osrDecoder.pdb
debug/osrKernel.exp
debug/osrKernel.ilk
debug/osrKernel.pdb
debug/osrMain.exp
debug/osrMain.ilk
debug/osrMain.pdb
debug/osrMixer.exp
debug/osrMixer.ilk
debug/osrMixer.pdb
debug/osrPlugins.exp
debug/osrPlugins.ilk
debug/osrPlugins.pdb
osrDecoder/x64/Debug/osrDecoder.tlog/CL.command.1.tlog
osrDecoder/x64/Debug/osrDecoder.tlog/CL.read.1.tlog
osrDecoder/x64/Debug/osrDecoder.tlog/CL.write.1.tlog
osrDecoder/x64/Debug/osrDecoder.tlog/link.command.1.tlog
osrDecoder/x64/Debug/osrDecoder.tlog/link.read.1.tlog
osrDecoder/x64/Debug/osrDecoder.tlog/link.write.1.tlog
osrDecoder/x64/Debug/osrDecoder.tlog/osrDecoder.lastbuildstate
osrDecoder/x64/Debug/osrDecoder.tlog/osrDecoder.write.1u.tlog
osrDecoder/x64/Debug/vc141.idb
osrDecoder/x64/Debug/vc141.pdb
osrKernel/x64/Debug/osrKernel.tlog/CL.command.1.tlog
osrKernel/x64/Debug/osrKernel.tlog/CL.read.1.tlog
osrKernel/x64/Debug/osrKernel.tlog/CL.write.1.tlog
osrKernel/x64/Debug/osrKernel.tlog/link.command.1.tlog
osrKernel/x64/Debug/osrKernel.tlog/link.read.1.tlog
osrKernel/x64/Debug/osrKernel.tlog/link.write.1.tlog
osrKernel/x64/Debug/osrKernel.tlog/osrKernel.lastbuildstate
osrKernel/x64/Debug/osrKernel.tlog/osrKernel.write.1u.tlog
osrKernel/x64/Debug/vc141.idb
osrKernel/x64/Debug/vc141.pdb
osrMain/x64/Debug/osrMain.tlog/CL.command.1.tlog
osrMain/x64/Debug/osrMain.tlog/CL.read.1.tlog
osrMain/x64/Debug/osrMain.tlog/CL.write.1.tlog
osrMain/x64/Debug/osrMain.tlog/link.command.1.tlog
osrMain/x64/Debug/osrMain.tlog/link.read.1.tlog
osrMain/x64/Debug/osrMain.tlog/link.write.1.tlog
osrMain/x64/Debug/osrMain.tlog/osrMain.lastbuildstate
osrMain/x64/Debug/osrMain.tlog/osrMain.write.1u.tlog
osrMain/x64/Debug/vc141.idb
osrMain/x64/Debug/vc141.pdb
osrMixer/x64/Debug/osrMixer.tlog/CL.command.1.tlog
osrMixer/x64/Debug/osrMixer.tlog/CL.read.1.tlog
osrMixer/x64/Debug/osrMixer.tlog/CL.write.1.tlog
osrMixer/x64/Debug/osrMixer.tlog/link.command.1.tlog
osrMixer/x64/Debug/osrMixer.tlog/link.read.1.tlog
osrMixer/x64/Debug/osrMixer.tlog/link.write.1.tlog
osrMixer/x64/Debug/osrMixer.tlog/osrMixer.lastbuildstate
osrMixer/x64/Debug/osrMixer.tlog/osrMixer.write.1u.tlog
osrMixer/x64/Debug/vc141.idb
osrMixer/x64/Debug/vc141.pdb
osrPlugins/x64/Debug/osrPlugins.tlog/CL.command.1.tlog
osrPlugins/x64/Debug/osrPlugins.tlog/CL.read.1.tlog
osrPlugins/x64/Debug/osrPlugins.tlog/CL.write.1.tlog
osrPlugins/x64/Debug/osrPlugins.tlog/link.command.1.tlog
osrPlugins/x64/Debug/osrPlugins.tlog/link.read.1.tlog
osrPlugins/x64/Debug/osrPlugins.tlog/link.write.1.tlog
osrPlugins/x64/Debug/osrPlugins.tlog/osrPlugins.lastbuildstate
osrPlugins/x64/Debug/osrPlugins.tlog/osrPlugins.write.1u.tlog
osrPlugins/x64/Debug/vc141.idb
osrPlugins/x64/Debug/vc141.pdb
x64/Debug/OpenSoun.3BCAFC30.tlog/CL.command.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/CL.read.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/CL.write.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/link.command.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/link.read.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/link.write.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/OpenSoundRefenation.lastbuildstate
x64/Debug/OpenSoun.3BCAFC30.tlog/OpenSoundRefenation.write.1u.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/rc.command.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/rc.read.1.tlog
x64/Debug/OpenSoun.3BCAFC30.tlog/rc.write.1.tlog
x64/Debug/Resource.res
x64/Debug/vc141.pdb
/.vs/OpenSoundRefenation/v15/ipch
/osrMixer/x64/Debug/osrMixer.tlog/unsuccessfulbuild
/osrMixer/x64/Debug/osrMixer.tlog
/osrKernel/x64/Debug/osrKernel.tlog
/osrDecoder/x64/Debug/osrDecoder.tlog/unsuccessfulbuild
/osrDecoder/x64/Debug/osrDecoder.tlog
/osrMain/x64/Debug/osrMain.tlog
/x64/Debug/OpenSoun.3BCAFC30.tlog
/osrDecoder/x64/Release
/osrKernel/x64/Release
/osrMain/x64/Release
/osrMixer/x64/Release
/osrPlugins/x64
/release
*.pdb
libs/avcodec-58.def
libs/avdevice-58.def
libs/avfilter-7.def
libs/avformat-58.def
libs/avutil-56.def
libs/libsndfile-1.def
libs/postproc-55.def
libs/swresample-3.def
libs/swscale-5.def
