# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
debug/autopoint
debug/croco-0.6-config
debug/Dump/OpenSoundRefenation_Athlon_.mdmp
debug/Dump/OpenSoundRefenation_Athlon_201810311253.mdmp
debug/Dump/OpenSoundRefenation_Athlon_20181031137.mdmp
debug/freetype-config
debug/gdbus-codegen
debug/libsoxr-1.exp
debug/libsoxr-1.ilk
debug/libsoxr-1.pdb
debug/libsoxr.pdb
debug/moc_predefs.h.cbt
debug/osrUI.exp
debug/osrUI.ilk
debug/osrUI.pdb
debug/xml2-config
*.mdmp
lib/avcodec-58.def
lib/avdevice-58.def
lib/avfilter-7.def
lib/avformat-58.def
lib/avutil-56.def
lib/libsndfile-1.def
lib/libsoxr.pdb
lib/postproc-55.def
lib/swresample-3.def
lib/swscale-5.def
OpenSoundRefenation — ярлык.lnk
*.log
osrDownloader/.vs/osrDownloader/v15/Browse.VC.db
osrDownloader/.vs/osrDownloader/v15/.suo
release/autopoint
release/croco-0.6-config
release/freetype-config
release/gdbus-codegen
release/gettext.sh
release/gettextize
release/glib-gettextize
release/glib-mkenums
release/gtk-update-icon-cache.exe.manifest
release/libpng-config
release/libpng15-config
release/moc_predefs.h.cbt
release/osrUI.exp
release/osrUI.iobj
release/osrUI.ipdb
release/osrUI.pdb
release/release.rar
release/xml2-config
Temp/expdata_num201811241454
Temp/expdata_num201811241510
Temp/expdata_num201811241520
Temp/expdata_num20181151630
